#resultTable{
    height: inherit;
    text-align: center;
    margin: 0 auto;
    table-layout: fixed;
}

#resultTable tr td{
    font-size: 30px;
    width: inherit;
    height: 45px;
}

.verticalStick{
    width: 5px;
    height: inherit;
    background-color: black;
    margin: 0 auto;
}


.joinStick1{
    width: 5px;
    height: inherit;
    background-color: black;
    margin: 0 auto;
    position: relative;
}

.joinStick2{
    width: 5px;
    height: inherit;
    background-color: black;
    margin: 0 auto;
    position: relative;
}



.joinStick1::before{
    width: 85px;
    height: 5px;
    content: "";
    background-color: black;
    position: absolute;
    margin: 45px auto;
    left:0px;
}

.joinStick2::before{
    width: 55px;
    height: 5px;
    content: "";
    background-color: black;
    position: absolute;
    left: -50px;
    margin: 45px auto;
}

#resultSection{
    width: 1000px;
    height: 200px;
    text-align: center;

}

.resultBtn{
    width: 200px;
    height: 90px;
    font-weight: bold;
    font-size: 30px;
    float: left;
    text-align: center;
    background-color: transparent;
    border : 0px transparent;
}