#resultTable{
    height: inherit;
    text-align: center;
    margin: 0 auto;
    table-layout: fixed;
}

#resultTable tr td{
    font-size: 30px;
    height: 45px;
}


.verticalStick{
    width: 5px;
    height: inherit;
    background-color: black;
    margin: 0 auto;
}

.horizontalStick{
    width: inherit;
    height: 5px;
    background-color: black;
    margin-top: 40px;
}

.joinStick1{
    width: 5px;
    height: inherit;
    background-color: black;
    margin: 0 auto;
    position: relative;
}

.joinStick2{
    width: 5px;
    height: inherit;
    background-color: black;
    margin: 0 auto;
    position: relative;
}

#resultSection{
    width: 1000px;
    height: 200px;
    text-align: center;

}

.resultBtn{
    width: 200px;
    height: 90px;
    font-weight: bold;
    font-size: 30px;
    float: left;
    text-align: center;
    background-color: transparent;
    border : 0px transparent;
}